<ul class="list-group">
    <li class="list-group-item"> <a routerLink="/downloadDocuments" class="card-link"> Download Documents</a></li>
   <!---- <li class="list-group-item"> <a href="javascript:void(0);" (click)="data()" class="card-link">
       Upload Documents </a> </li> -->
       <li class="list-group-item">  <a routerLink="/uploadDocuments" class="card-link">Upload Documents</a> </li>
    <li class="list-group-item"> <a routerLink="/downloadDocuments" class="card-link"> Activate Users </a> </li>
    <li class="list-group-item"> <a href="#" class="card-link"> Activate Documents </a> </li>
    <li class="list-group-item"> <a href="#" class="card-link"> Download Users List</a> </li>
    <li class="list-group-item"> <a href="#" class="card-link"> Download Document List</a> </li>

  </ul>