<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <app-links></app-links>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                Search Document
              </div>
              <div class="card-body">
                  <form ngNativeValidate name="downloadDocumentForm" 
                   method="post" name="document-form">
                      <div class="row">
                    <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label for="docName">Document Name</label>
                        <input type="text" class="form-control" id="docName" 
                        name="docName" placeholder="Document Name" [(ngModel)]="
                        documentManagmentModel.docName">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label for="contentId">{{this.contentId}}</label>
                        <input type="text" class="form-control" id="contentId" 
                        name="contentId" placeholder="Content Id"
                        [(ngModel)]="documentManagmentModel.contentId">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label for="docDesc">Content Type</label>
                        <select #documentTypeList class="form-control" id="docDesc" name="docDesc">
                            <option *ngFor="let doc of documentTypeModel" [value]="doc.docTypeID">
                                {{doc.docTypeDesc}}
                              </option>
                        </select>
                     
                      </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                        <label for="startDate">Uploaded Date Start Range</label>
                        
                        <my-date-picker name="documentManagmentModel.inputStartDate" 
                        [options]="myDatePickerOptions"
                        [(ngModel)]="documentManagmentModel.inputStartDate" 
                        >
                          </my-date-picker>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-4">
                          <div class="form-group">
                          <label for="endDate">Uploaded Date End Range</label>
                          <my-date-picker name="documentManagmentModel.inputEndDate" 
                          
                          [options]="myDatePickerOptions" 
                          [(ngModel)]="documentManagmentModel.inputEndDate"  >
                            </my-date-picker>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                              <label for="uploaderID">Uploader ID:</label>
                              <input type="text" disabled class="form-control" id="uploaderID"
                               name="uploaderID" placeholder="Uploader Id">
                            </div>
                            <button type="button" (click)="searchDocument(documentTypeList)" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span> Search
                              </button>
                          </div>
                          </div>    
                                
                         <div  class="col-sm-12 col-md-8">
                            <div class="form-group">
                                <table datatable [dtOptions]="dtOptions" 
                                [dtTrigger]="dtTrigger" 
                                class="row-border hover" >
                                    <thead *ngIf="tableShow">
                                      <tr>
                                        <th>{{this.contentId}}</th>
                                        <th>Uploaded Date</th>
                                        <th>Document</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let document of searchDataModel">
                                        <td>{{ document.contentId}}</td>
                                        <td>{{document.uploadeDate | date: 'dd-MMM-yyyy'}}</td>
                                   <td>
                                     <a target="_blank" 
                                          (click)="getFile(document.contentId,document.documentName)"
                                          >
                                          {{document.documentName}}</a>
                                        </td>
                                        
                                     
                                      <!----  <td><a href="http://localhost:8080/DocumentManagment/getFile" target="_blank" 
                                          (click)="getFile(document.contentId,document.documentName)"
                                          >
                                          {{document.documentName}}</a></td> -->
                                      </tr>
                                    </tbody>
                                    </table>
                            </div>
                          </div> 
                        
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>


<!-- <div class="pull-right">
    <a href="#" class="btn btn-primary"> Logout </a>
  </div>

  <div class="download-form">
    <h2>Search Document</h2>

  </div>

  <div class="download-form">
    <p class="pull-left"> Document Name:&nbsp; </p>
    <input type="text" name="" id="" class="col-md-2">
    <p class="pull-left">&nbsp;Content Id:&nbsp; </p>
    <input type="text" name="" id="" class="col-md-2">
    Document Desc
    <div class="download-form" [formGroup]="downloadDocumentForm">
      <select #documentTypeList formControlName="documentControl" id="documentDesc">
        <option *ngFor="let document of documentTypeModel" [value]="document.docTypeID">
          {{document.docTypeDesc}}
        </option>
      </select>

    </div>
    <p class="pull-left">&nbsp;Uploader Id:&nbsp;</p>
        <input type="text" name="" id="" class="col-md-2">  
  </div>


  <div class="form-group">
    <p class="pull-left">Uploaded Date</p>
    <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="startDate" class="col-md-2">
    </my-date-picker>
    <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="endDate" class="col-md-2">
    </my-date-picker>
  </div>
</div> -->